.registerForm{
    margin-top: 30px;
}
.loginForm{
    margin-top: 30px;
    
}
.login-form-item{
    margin-bottom: 30px;
    
}
.register-form-item{
    margin-bottom: 30px;
    
}
.LoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .logo {
    width: 100%; /* Make the image responsive */
    max-width: 500px; /* Limit the maximum width */
    height: auto; /* Allow the height to adjust proportionally */
    margin-top: 70px; /* Adjust top margin as needed */
  }