.top-page {
    margin: 20px;
    width: auto;
    height: auto;
    margin-left: 220px;
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row; /* Change to row */
    align-items: center;
}




.form-item{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    padding-top: 10px;
    
}
.form{
    padding-top: 30px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(254, 252, 252);
    border-radius: 10px;
}
.mui-button{
    background-color:#bedbea !important;
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 1001;
    font-family: 'Garamond', cursive !important; 
}
.mui-button:hover{
    background-color: #8ab6d6; /* Change background color on hover */
    opacity: 1;
}
.employeeTableRow:hover{
    cursor: pointer;
}
.employeeTableFirstRow{
    background-color: #bedbea !important;
}
.formPage{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;

}
.formPage body {
    background-color: #bedbea;
    
}