.form-item{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    padding-top: 10px;
    
}
.form{
    padding-top: 30px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(254, 252, 252);
    border-radius: 10px;
}
.mui-button{
    background-color:#1f4d20 !important;
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 1001
}
.mui-button:hover{
    background-color:#3e683e;
}
.employeeTableRow:hover{
    cursor: pointer;
}
.employeeTableFirstRow{
    background-color: #1f4d20 !important;
}