.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .taskForm{
    width: 50%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.whiteText{
  color:white;
}

.top-page {
  margin: 20px;
  width: auto;
  height: auto;
  margin-left: 220px;
  padding-top: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Align items to the far right */
  align-items: center; /* Align items vertically */
}

.top-page-2 {
  display: flex;
  justify-content: space-between; /* Pushes the button to the far right */
  align-items: center; /* Aligns items vertically */
}

.add-task-button-container {
  margin-left: 10px; /* Adjust margin as needed */
}


.taskForm{
  margin-top: 50px;
  background-color: #ffffff;
  border-color:#dde7fd;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased blur radius */
}
/* .taskFormItem .MuiInputBase-input {
  color: white;
  border-color: white; 
}

.taskFormItem .MuiInputLabel-root {
  color: white; 
  border-color: white;
} */
.welcomeBanner {
  position: relative; /* Set position to relative */
  margin: 20px;
  width: auto;
  height: auto;
  min-height: 80vh; /* Adjust the height as desired */
  display: flex;
  margin-left: 220px;
  background-image: url('homepage.png'); /* Adjust the path as needed */
  background-color: #EFEFF0;
  padding: 20px;
  align-items: center;
  border-radius: 15px; /* Add border-radius for curved edges */
  color: black; /* Set text color to black */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Increased blur radius */
  transition: margin-left 0.3s ease;
  /* Crop the background image */
  background-size: cover;
  background-position: center;
}

.welcomeText {
  position: absolute; /* Set position to absolute */
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  font-family: 'Garamond', cursive !important; 
  font-weight: bold !important;
  color: white; /* Set text color to white */
  z-index: 1; /* Ensure text is above the background image */
}


hr {
  margin: 0; /* Remove default margin of hr */
}
.welcomeBanner2{
  margin: 20px;
  justify-content: center;
  width: auto;
  height: auto;
  min-height: 15vh; /* Adjust the height as desired */
  display: flex;
  margin-left: 220px;
  background-color: #437693;
  padding: 20px;
  align-items: center;
  border-radius: 15px; /* Add border-radius for curved edges */
  color: rgb(255, 255, 255); /* Set text color to black */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Increased blur radius */
}

.welcomeText2{
  position: fixed;
  left: 250px !important;
  top: 50px;
  font-family: 'Georgia', cursive !important; 
  font-weight: bold !important;
}
.deadlinesList{
    position:fixed;
    right: 20px;
    top: 60px;
    padding:0;
    background-color: white;
    border-radius: 10px; 
    border: 1px solid black;
    align-items: center;
}
.upcomingDeadlines{
  position:fixed;
  top: 38px;
  right: 280px;
  font-family: 'Georgia', cursive !important; 
  font-weight: bold !important;
}
.announcementsContainer {
  margin: 20px;
  width: auto;
  height: auto;
  background-color: #cce4f1;
  margin-left: 220px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased blur radius */
  transition: margin-left 0.3s ease; 
}
.announcementsContainer.show {
  opacity: 1; /* Show the container by setting opacity to 1 */
  transform: translateY(0); /* Move the container back to its original position */
}

.announcementText{
  margin-top: 0px !important;
  margin-left: 10px !important;
  color: rgb(0, 0, 0);
  font-weight: bold !important;
  font-family: 'Garamond', cursive !important; 
}
.announcementWrapper{
  margin:10px;
  padding: 10px;
  width: auto; 
  height: auto; 
  background-color: #ffffff;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  transition: margin-left 0.3s ease; 

}
.author{
  font-weight: bold !important;
}
.announcement-header{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.addAnnouncementButton{
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
  border: 1px solid white !important;
  transition: opacity .5s ease-out;
  margin-right: 10px !important;
  font-family: 'Garamond', cursive !important; 
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Increased blur radius */
}
.sortOrderSelect {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
  font-weight: bold !important;
  transition: opacity .5s ease-out;
  margin-right: 10px !important;
  font-family: 'Garamond', cursive !important; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Increased blur radius */
}

.sortOrderSelect:hover {
  opacity: 1;
}
.addAnnouncementButton:hover {
  opacity: 1;
}
.progress-section-wrapper{
  margin-left: 220px;
}
.progress-section{
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  background-color: #a9aeb3;
  border-radius: 14px;
  padding: 10px;
  color: white;
}
.employee-progress{
  background-color: #cce4f1;
  color: rgb(0, 0, 0);
  border-radius: 14px;
  margin: 10px;
  padding: 5px;

  
}
.completed-remaining-tasks{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.completed-remaining-tasks ul{
  
  margin-top: 15px;
}
.employee-specific-task-section-wrapper{
  margin-left: 0px;
  
}
.task-header{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task-details{
  margin-left: 50px;
  padding: 10px;
}
.task-list{
  margin: 20px;
  width: auto;
  height: auto;
  background-color: #cce4f1;
  margin-left: 0px;
  padding-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased blur radius */
  transition: margin-left 0.3s ease; 
  font-family: 'Georgia', cursive !important; 
  font-weight :500 !important

}
.task-item{
  background-color: #cce4f1;
  color: rgb(0, 0, 0);
  padding: 10px;
  padding-top: 3px;
  margin: 10px;
  border-radius: 10px;
  
}
.task-item li{
  font-size: 20px;
  margin-bottom: "10px";
}

.task-item-element {
  color: rgb(0, 0, 0);
  margin: 15px;
}
.task-item-element:hover {
  opacity: 0.5;
}
.task-info{
  background-color: #cce4f1;
  color: rgb(0, 0, 0);
  padding: 10px;
  padding-top: 3px;
  margin: 0px;
  border-radius: 10px;
  margin-left: 0px;
  font-size: 1.5rem;
  font-family: 'Garamond', cursive !important

}
.subtask-details-section{
  margin-left: 220px;
  flex-wrap: wrap;
}
.sub-task-info{
  background-color: #cce4f1;
  color: rgb(0, 0, 0);
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 30px;
  margin-left: -40px;
  font-size:1.25rem;
  font-weight: 500;
  font-family: 'Garamond', cursive !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Increased blur radius */ 
}
.subtaskDetailsContainer {
  margin: 20px;
  justify-content: center;
  width: auto;
  height: auto;
  min-height: 15vh; /* Adjust the height as desired */
  display: flex;
  margin-left: 0px;
  background-color: #437693;
  padding: 20px;
  align-items: center;
  border-radius: 15px; /* Add border-radius for curved edges */
  color: black; /* Set text color to black */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Increased blur radius */
}
.taskDetailsContainer {
  margin: 0;
  justify-content: center;
  width: auto;
  height: auto;
  min-height: 15vh; /* Adjust the height as desired */
  display: flex;
  margin-left: 0px;
  background-color: #437693;
  padding: 20px;
  align-items: center;
  border-radius: 10px; /* Add border-radius for curved edges */
  color: black; /* Set text color to black */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Increased blur radius */
}
.subtaskDetailsText {
  position: sticky; /* Set position to sticky */
  left: 250px; /* Adjust left position as needed */
  top: 50px; /* Adjust top position as needed */
  font-family: 'Garamond', cursive !important; 
  font-weight: bold; /* Set font weight to bold */
  color: rgb(255, 255, 255); /* Set text color to black */
}


@media screen and (max-width: 1200px) {
  .welcomeText {
      display: none;
  }
}