.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .taskForm{
    width: 50%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.whiteText{
  color:white;
}
.mui-button{
  background-color:#1f4d20 !important;
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  z-index: 1001
}
.mui-button:hover{
  background-color:#3e683e;
}
.taskForm{
  margin-top: 50px;
  background-color: #ffffff;
  border-color:#1f4d20;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
/* .taskFormItem .MuiInputBase-input {
  color: white;
  border-color: white; 
}

.taskFormItem .MuiInputLabel-root {
  color: white; 
  border-color: white;
} */
.welcomeBanner{
  min-height: 25vh; 
  display: flex;  
  margin: 0;
  background-color: #f0f0f0;
  padding:20px;
  align-items: center;
}
hr {
  margin: 0; /* Remove default margin of hr */
}
.welcomeText{
  position: fixed;
  left: 250px !important;
  top: 50px;
  font-family: 'Lucida Handwriting', cursive !important; 
  font-weight: bold !important;
}
.deadlinesList{
    position:fixed;
    right: 20px;
    margin-top: 17px;
    padding:0;
    background-color: white;
    border-radius: 10px; 
    border: 1px solid black;
    align-items: center;
}
.upcomingDeadlines{
  position:fixed;
  top: 38px;
  right: 280px;
  font-family: 'Lucida Handwriting', cursive !important; 
  font-weight: bold !important;
}
.announcementsContainer{
  margin: 20px;
  width: auto; 
  height: auto; 
  background-color: #1f4d20;
  margin-left: 220px; 
  padding-top: 20px;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
 
}
.announcementText{
  margin-top: 0px !important;
  margin-left: 10px !important;
  color: white;
  font-weight: bold !important;
}
.announcementWrapper{
  margin:10px;
  padding: 10px;
  width: auto; 
  height: auto; 
  background-color: #ffffff;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
}
.author{
  font-weight: bold !important;
}
.announcement-header{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.addAnnouncementButton{
  background-color: #1f4d20 !important;
  color: white !important;
  font-weight: bold !important;
  border: 1px solid white !important;
  transition: opacity .5s ease-out;
  margin-right: 10px !important;
}
.addAnnouncementButton:hover {
  opacity: 1;
}